<div class="content container mt-3">


    <div class="row">
        <% if(user) { %>
            <h2 class="lead display-4">Welcome, <%= user.name %></h2>
        <% } else { %>
            <h2 class="lead display-4">Welcome!</h2>
        <% } %>

        <h5 class="lead display-7">VIVA-VVIT, the annual Techno-Cultural-Sports Fest organized by VVIT around 20th-25th of December</h5>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-6 col-sm-12">
            <img src="/images/img1.jpg" width="500">
        </div>

        <div class="col-md-6 col-sm-12" style="text-align: center; vertical-align: middle;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Adipiscing tristique risus nec feugiat. Nec ultrices dui sapien eget mi proin. Pellentesque id nibh tortor id. Sed turpis tincidunt id aliquet risus. 
            Etiam erat velit scelerisque in dictum non consectetur a. Urna molestie at elementum eu facilisis sed odio morbi. 
            Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Nulla at volutpat diam ut. Morbi tristique senectus et netus.
        </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-6 col-sm-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Adipiscing tristique risus nec feugiat. Nec ultrices dui sapien eget mi proin. Pellentesque id nibh tortor id. Sed turpis tincidunt id aliquet risus. 
            Etiam erat velit scelerisque in dictum non consectetur a. Urna molestie at elementum eu facilisis sed odio morbi. 
            Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Nulla at volutpat diam ut. Morbi tristique senectus et netus.
        </div>

        <div class="col-md-6 col-sm-12 mt-2">
            <img src="/images/img2.jpg" width="500">
        </div>
    </div>


    <div class="row mt-5 mb-5">
        <div class="col-md-6 col-sm-12">
            <img src="/images/img3.jpg" width="500">
        </div>

        <div class="col-md-6 col-sm-12">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Adipiscing tristique risus nec feugiat. Nec ultrices dui sapien eget mi proin. Pellentesque id nibh tortor id. Sed turpis tincidunt id aliquet risus. 
            Etiam erat velit scelerisque in dictum non consectetur a. Urna molestie at elementum eu facilisis sed odio morbi. 
            Vestibulum morbi blandit cursus risus at ultrices mi tempus imperdiet. Nulla at volutpat diam ut. Morbi tristique senectus et netus.       
        </div>
    </div>


</div>