<%- include('./partials/header', { pageTitle: "VIVA VVIT - About Us", user: user}) -%>

<div class="container">
    <h1 class="mt-5 lead display-4">About Us</h1>
    <img class="mt-3 mb-3" src="/images/image1.jpeg">
    <p>
        The VIVAVVIT celebrates excellence - in the field of arts, pursuits both physical and scholarly. 
        VVIT has always strived to be a torchbearer for holistic education since its inception 14 years ago. 
        The end-of-the-year fest provides a platform for students to showcase the co-curricular activities they've mastered throughout the year.
    </p>
</div>

<%- include('./partials/footer') -%>