/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 .carousel-item {
     height: 25vh !important;
 }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .carousel-item {
        height: 50vh !important;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    .carousel-item {
        height: 85vh !important;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    .carousel-item {
        height: 90vh !important;
    }
}